body{
	
	background-color: #ddd;
}
h1{
	font: 30px "times new roman";
	text-align: center;
	margin-top: 20px;
}
#top_menu{
	width: 100%;
	height: 50px;
	background: #000; 
	opacity: 0.8;
	margin-top: 30px;
}
li{
	display: inline-block;
	margin-top: 15px;
	padding-left: 30px;
}
a{
	font-family: sans-serif;
	text-decoration: none;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: #9dd;
}
a:hover{
	text-decoration: none;
	color: #fff;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}




/*
body{
	text-align: center;
}
		
table{
	margin-top: 1cm;
	width: 100%;
	adicinando espaços nas bordas
	background-color: #999;
}
th{
	background-color:;
}

td{
	padding: 15px;
	text-align: center;
	background-color: #d9d9d9;
	border-collapse: collapse;
}
td a{
	text-decoration: none;
	color: ;
}
td a:hover{
	background-color: 
}
/*
#tabela{
	background: #f1f1c1;
}		

table, td, th{
	text-align: center;
	border: 1px solid #000;
	/*adicioonando somente uma linha de borda
	border-collapse: collapse;
}
td{
	padding: 15px;
}
*/	